$primary-color: rgb(22, 125, 159);
$secondary-color: #f1f1f1;

$sizing-small: 15px;
$sizing-medium: 25px;
$sizing-large: 55px;

.tab-title {
  float: left;
  padding: $sizing-small;
  padding: $sizing-small $sizing-large $sizing-small $sizing-medium;
  text-align: center;

  &:hover {
    border-top: 4px solid $primary-color;

      .tabs-icon {
        color: $primary-color;
      }
  }

  .tabs-title {
    padding-bottom: $sizing-small;
  }
}

.tab-content {
  background-color: $secondary-color;
  position: absolute;
  margin-top: $sizing-large;
  padding: $sizing-medium;
  border: 1px solid $secondary-color;
}